# Direct connection to the database. Used for migrations
DATABASE_URL="postgresql://postgres.[USER]:[PASSWORD]@[URL]:[PORT]/postgres"
PORT=3000
JWT_SECRET="JWT_SECRET"
BCRYPT_SALT_ROUNDS=10
CLOUDINARY_CLOUD_NAME="CLOUD_NAME"
CLOUDINARY_API_KEY=123456789
CLOUDINARY_API_SECRET="API_SECRET"
LOG_LEVEL="debug"